<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../parciales/head.ejs %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>Inicio</title>
</head>
<body>
<div class="container">
    <div class="row" style="margin: 30px">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-md-offset-3 opaco">
            <div class="panel panel-login">
                <div class="row" style="margin-top: 30px">
                    <div class="col-md-12 text-center">
                        <a href="/"> <img
                             src="../../static/imagenes/iconoEPN.svg"
                             height="65%" width="65%">
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="display-8 text-center textoBlanco">CREAR CUENTA</h4>
                        <form id="login-form" action="/creacionCuenta" method="post" name="formulario" role="form"
                              style="display: block;">
                            <div class="form-row">
                                <div class="form-group col-md-6 text-right">
                                    <label for="inputNombre" class="textoBlanco">NOMBRES Y APELLIDOS</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="inputNombre" name="nombre" required
                                           placeholder="Nombres y apellidos" onchange="verificarIngreso(this)">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 text-right">
                                    <label for="inputUsuario" class="textoBlanco">CORREO ELECTRÓNICO</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" class="form-control" id="inputUsuario" name="usuario" required
                                           placeholder="Correo electrónico" onchange="verificarIngreso(this)">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 text-right">
                                    <label for="inputContrasenia" class="textoBlanco">CONTRASEÑA</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="password" class="form-control" id="inputContrasenia" name="contrasenia"
                                           required
                                           placeholder="Contraseña" onchange="verificarIngreso(this)">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 text-right">
                                    <label for="inputContraseniaConfirmada " class="textoBlanco">CONFIRMAR
                                        CONTRASEÑA</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="password" class="form-control " id="inputContraseniaConfirmada"
                                           name="contraseniaConfirmada" required placeholder="Confirmar contraseña"
                                           onkeyup="confirmarContrasenia()" onchange="verificarIngreso(this)">
                                    <div class="invalid-feedback">Las contraseñas no son iguales.</div>
                                </div>
                            </div>
                            <div class="form-row text-center">
                                <div class="form-group col-md-3">
                                </div>
                                <div class="form-group col-md-6">
                                    <button type="submit" id="crearCuenta" disabled
                                            class="btn btn-primary btn-block degradoBoton"><i
                                                class="fas fa-user-plus"></i> Crear Cuenta
                                    </button>
                                </div>
                                <div class="form-group col-md-3">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-bottom: 20px">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <a href="/"> <img class="rounded mx-auto d-block"
                                          src="../../static/imagenes/iconoPolhibou.svg"
                                          height="85%" width="85%">
                        </a>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">

                        <div class="col-md-12">
                        <form method="get" action="/ingresoPartida" role="form">
                            <div class="form-row text-center">
                                <div class="form-group col-md-3">
                                </div>
                                <div class="form-group col-md-6 ">
                                    <button type="submit"
                                            class="btn btn-primary btn-block degradoBoton"> <i class="fas fa-gamepad"></i> Unirse a Partida
                                    </button>
                                </div>
                                <div class="form-group col-md-3">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <form method="get" action="/inicioSesion" role="form">

                            <div class="form-row text-center">
                                <div class="form-group col-md-3">
                                </div>
                                <div class="form-group col-md-6 ">
                                    <button type="submit"
                                            class="btn btn-primary btn-block degradoBoton"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión
                                    </button>
                                </div>
                                <div class="form-group col-md-3">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<script>
    function confirmarContrasenia() {
        if (formulario.contrasenia.value == formulario.contraseniaConfirmada.value) {
            document.getElementById("crearCuenta").removeAttribute("disabled");
            document.getElementById("inputContrasenia").classList.remove("is-invalid");
            document.getElementById("inputContrasenia").classList.add("is-valid");
            document.getElementById("inputContraseniaConfirmada").classList.remove("is-invalid");
            document.getElementById("inputContraseniaConfirmada").classList.add("is-valid");
        } else {
            document.getElementById("crearCuenta").setAttribute("disabled", "");
            document.getElementById("inputContraseniaConfirmada").classList.add("is-invalid");
            document.getElementById("inputContrasenia").classList.add("is-invalid");

        }

    }
    function verificarIngreso(valor) {
        if (document.getElementById(valor.id).value.trim().length < 1) {
            alert("El texto ingresado está en blanco");
            document.getElementById(valor.id).value = "";
        }
    }

</script>
</body>
</html>