<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html"/>
    <% include ../parciales/head %>
    <title>Inicio Sesión</title>
</head>
<body>
<div class="container">
    <div class="row" style="margin: 30px">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-md-offset-3 opaco">
            <div class="panel panel-login">
                <div class="row" style="margin-top: 30px">
                    <div class="col-md-12 text-center" >
                        <a href="/"><img
                             src="../../static/imagenes/iconoEPN.svg"
                             height="65%" width="65%">
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="display-8 text-center textoBlanco">INICIAR SESIÓN</h4>
                        <form id="login-form" action="/inicioSesion" method="post" role="form" style="display: block;">
                            <% if(usuario != ""){ %>
                                <div class="form-row">
                                    <div class="form-group col-md-4 text-right">
                                        <label for="usuario" class="textoBlanco">USUARIO</label>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <input type="text" name="usuario" id="usuario" tabindex="1"
                                               class="form-control is-invalid" required placeholder="Correo electrónico" onchange="verificarIngreso(this)">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4 text-right">
                                        <label for="contrasenia" class="textoBlanco">CONTRASEÑA</label>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <input type="password" name="contrasenia" id="contrasenia" tabindex="2"
                                               class="form-control is-invalid " required placeholder="Contraseña" onchange="verificarIngreso(this)">
                                        <div class="invalid-feedback">Las credenciales no son válidas.</div>
                                    </div>
                                </div>
                            <% }else {
                            switch (tipo) {
                            case 1: %>
                            <label class="textoBlanco">Por favor, inicia sesión con el código de verificación enviado a su correo.</label>
                            <% break;
                            case 2: %>
                            <label class="textoBlanco">Su contraseña ha sido actualizada. Por favor, inicia sesión nuevamente.</label>
                            <% break;
                            case 3: %>
                            <label class="textoBlanco">Por favor, inicia sesión con sus credenciales.</label>
                            <%}%>
                                <div class="form-row">
                                    <div class="form-group col-md-4 text-right">
                                        <label for="usuario" class="textoBlanco">USUARIO</label>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <input type="text" name="usuario" id="usuario" tabindex="1" class="form-control"
                                               required placeholder="Correo electrónico" value="" onchange="verificarIngreso(this)">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4 text-right">
                                        <label for="contrasenia" class="textoBlanco">CONTRASEÑA</label>
                                    </div>
                                    <div class="form-group col-md-8">
                                        <input type="password" name="contrasenia" id="contrasenia" tabindex="2"
                                               class="form-control" required placeholder="Contraseña" onchange="verificarIngreso(this)">
                                    </div>
                                </div>
                            <% } %>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6 text-center">
                                            <a href="/recuperarContrasenia" class="textoBlanco"><u>Olvidé mi contraseña</u></a>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6 text-center">
                                        <button type="submit" name="login-submit" id="login-submit" tabindex="4"
                                                class="btn btn-primary btn-block degradoBoton"><i class="fas fa-sign-in-alt"></i> Iniciar sesión
                                        </button>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-bottom: 30px">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <a href="/"> <img src="../../static/imagenes/iconoPolhibou.svg" width="85%" height="85%"> </a>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<script>
    function verificarIngreso(valor) {
        if (document.getElementById(valor.id).value.trim().length < 1) {
            alert("El texto ingresado está en blanco");
            document.getElementById(valor.id).value = "";
        }
    }
</script>
</body>
</html>