<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <link rel="stylesheet" type="text/css" href="static/css/estilos.css">
    <title>Tablero</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <header style="margin-bottom: 10px">
        <% include ../../parciales/headerTablero %>
    </header>
<div class="container">
    <div class="row">
        <h3>Resultados de la Partida </h3>
    </div>
    <% let numeroEquipos = 2;
    for(let i = 0; i < numeroEquipos; i++){%>
    <div class="row">
        <div class="col-md-2">
            <img id="lugar<%=i%>" src="../../../static/imagenes/lugar<%=(i+1)%>.svg"
            height="50" width="50">
        </div>
        <div class="col-md-5">
            <img id="lugar<%=i%>" src="../../../static/imagenes/<%=i%>.png"
                 height="50" width="50">
        </div>
        <div class="col-md-5"></div>
    </div>
    <%}%>
</div>
</body>
</html>