<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <link rel="stylesheet" type="text/css" href="static/css/estilos.css">
    <title>Tablero</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<div class="opaco" style="margin-bottom: 20px">
    <header style="margin-bottom: 10px">
        <% include ../../parciales/headerTablero %>
    </header>
    <form name="formulario" hidden method="post" action="/partidaFinalizada">
        <input type="text" hidden name="idPartida" id="idPartida" value="<%= idPartida %>">
        <input type="text" hidden name="rol" id="rol" value="<%= rol %>">
        <input type="text" hidden name="nombreEquipo" id="nombreEquipo" value="<%= nombreEquipo %>">
        <input type="text" hidden name="sesion" id="sesion" value="<%= nombreEquipo %>">
        <button type="submit" id="botonFinalizacion" hidden disabled></button>
    </form>
    <a href="/" hidden id="linkFinalizarPartida"> </a>
    <div class="container-fluid text-center">
        <div class="row text-center">
            <div class="col-md-auto text-center">
                <canvas id="game" width="540" height="480"></canvas>
            </div>
            <div class="col-md-auto text-center">
                <div class="row text-center">
                    <table class="table ">
                        <thead >
                        <tr>
                            <th class="textoBlanco">ESTA JUGANDO</th>
                            <th class="textoBlanco">JUGADOR</th>
                            <th class="textoBlanco">NOMBRE</th>
                        </tr>
                        </thead>
                        <tbody class="transparente">
                        <tr id="tablajug1" style="visibility:hidden" >
                            <td ><i id="turno1" hidden class="fas fa-hand-point-right fa-3x textoBlanco"></i></td>
                            <td id="columna1" ></td>
                            <td><label id="nombreEquipo1" class="textoBlanco"></label></td>
                        </tr>
                        <tr id="tablajug2" style="visibility: hidden">
                            <td><i id="turno2" hidden class="fas fa-hand-point-right fa-3x textoBlanco"></i></td>
                            <td id="columna2"></td>
                            <td><label id="nombreEquipo2" class="textoBlanco"></label></td>
                        </tr>
                        <tr id="tablajug3" style="visibility:hidden">
                            <td><i id="turno3" hidden class="fas fa-hand-point-right fa-3x textoBlanco"></i></td>
                            <td id="columna3"></td>
                            <td><label id="nombreEquipo3" class="textoBlanco"></label></td>
                        </tr>
                        <tr id="tablajug4" style="visibility:hidden">
                            <td><i id="turno4" hidden class="fas fa-hand-point-right fa-3x textoBlanco"></i></td>
                            <td id="columna4"></td>
                            <td><label id="nombreEquipo4" class="textoBlanco"></label></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-auto">
                        <input type="radio" style="visibility: hidden" id="radio-uno" name="select-face"/>
                        <input type="radio" style="visibility: hidden" id="radio-dos" name="select-face"/>
                        <input type="radio" style="visibility: hidden" id="radio-tres" name="select-face"/>
                        <input type="radio" style="visibility: hidden" id="radio-top" name="select-face"/>
                        <input type="radio" style="visibility: hidden" id="radio-bottom" name="select-face"/>
                        <input type="radio" style="visibility: hidden" id="radio-back" name="select-face"/>
                        <div class="space3d" id="space3d">
                            <div class="_3dbox" id="_3dbox">
                                <div class="_3dface _3dface--uno"></div>
                                <div class="_3dface _3dface--top"></div>
                                <div class="_3dface _3dface--bottom"></div>
                                <div class="_3dface _3dface--dos"></div>
                                <div class="_3dface _3dface--tres"></div>
                                <div class="_3dface _3dface--back"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 30px">
                    <div class="col-md-auto">
                        <input type="radio" style="visibility: hidden" id="radio-uno-2" name="select-face-2"/>
                        <input type="radio" style="visibility: hidden" id="radio-dos-2" name="select-face-2"/>
                        <input type="radio" style="visibility: hidden" id="radio-tres-2" name="select-face-2"/>
                        <input type="radio" style="visibility: hidden" id="radio-top-2" name="select-face-2"/>
                        <input type="radio" style="visibility: hidden" id="radio-bottom-2" name="select-face-2"/>
                        <input type="radio" style="visibility: hidden" id="radio-back-2" name="select-face-2"/>

                        <div class="space3d-2" id="space3d-2">
                            <div class="_3dbox-2" id="_3dbox-2">
                                <div class="_3dface-2 _3dface--uno-2"></div>
                                <div class="_3dface-2 _3dface--top-2"></div>
                                <div class="_3dface-2 _3dface--bottom-2"></div>
                                <div class="_3dface-2 _3dface--dos-2"></div>
                                <div class="_3dface-2 _3dface--tres-2"></div>
                                <div class="_3dface-2 _3dface--back-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 align-self-start">
                        <% if(rol == "facilitador"){ %>
                        <button class="btn btn-primary degradoMenu textoUnir" id="botonFinalizarPartida"
                                onclick="finalizarPartida()"><i class="fas fa-times"></i>
                            Finalizar partida
                        </button>
                        <% }else { %>
                        <button class="btn btn-primary degradoMenu textoUnir" id="botonLanzar" onclick="lanzarDado()"><i
                                    class="fas fa-dice "></i>
                            ¡Es tu turno! Lanza los dados
                        </button>
                        <% } %>
                    </div>
                    <div class="col-md-2"></div>
                    <audio id="sonidoError" src="../../../static/sonidos/error.mp3" controls  hidden> </audio>
                    <audio id="sonidoCorrecto" src="../../../static/sonidos/correcto.mp3" controls hidden> </audio>
                    <audio id="sonidoDados" src="../../../static/sonidos/lanzarDados.mp3" controls hidden> </audio>
                </div>
                <div class="row">
                    <!--<div id="snackbar">PUEDES MOVERTE</div>
                    <div id="snackbarIn">NO PUEDES MOVERTE</div>
                     <div id="snackbarPositivo">¡FELICIDADES! TE MUEVES CASILLAS EXTRAS</div> 
					 <div id="snackbarNegativo">¡OH NO! HAS RECIBIDO UNA MALDICIÓN</div> -->
					<div id="snackbar" class="card" style="width: 18rem;">
					  <div class="card-body">
						<h5 class="card-title">¡BIEN HECHO!</h5>
						<p class="card-text">PUEDES MOVERTE</p> <i class="far fa-check-circle fa-3x" style="color:green"></i>
					  </div>
					</div>
					<div id="snackbarIn" class="card" style="width: 18rem;">
					  <div class="card-body">
						<h5 class="card-title">¡FALLASTE!</h5>
						<p class="card-text">NO PUEDES MOVERTE</p> <i class="far fa-times-circle fa-3x" style="color:red"></i>
					  </div>
					</div>
					<div id="snackbarPositivo" class="card" style="width: 18rem;">
					  <div class="card-body">
						<h5 class="card-title">¡FELICIDADES!</h5>
						<p class="card-text">TE MUEVES CASILLAS EXTRAS</p> <i class="far fa-check-circle fa-3x" style="color:green"></i>
					  </div>
					</div>
					<div id="snackbarNegativo" class="card" style="width: 18rem;">
					  <div class="card-body">
						<h5 class="card-title">¡OH NO!</h5>
						<p class="card-text">HAS RECIBIDO UNA MALDICIÓN</p> <i class="far fa-times-circle fa-3x" style="color:red"></i>
					  </div>
					</div>
                    
                </div>
            </div>
            <div class="col-md-auto text-center">
                <div class="flip3D text-center">
                    <div id="tarjeta" class="front disabledbutton text-dark" onclick="darLaVuelta()">
                        <i class="far fa-hand-point-up fa-7x" style="margin-top: 35%"></i>
                        <h2 id="textoTarjeta" style="font-style: oblique">POLHIBOU</h2>
                    </div>
                    <div id="desafios" class="back container-fluid col-md-12" hidden>
                        <h1 id="tipoJuego" style="text-transform: uppercase; color: black" >Tipo de Juego</h1>
                        <div id="opcionMultiple" class="row" hidden>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h4><p id="enunciado"></p></h4>
                                    </div>
                                    <div class="col-md-3">
                                        <img id="imagenEnunciado" src="static/imagenes/imagenVacia.svg" class="img-rounded"
                                             height="50"
                                             width="50">
                                    </div>
                                </div>
                                <div class="row" id="divRespuestasOpcionMultiple" hidden>
                                    <div class="container-fluid">
                                        <div class="row unir">
                                            <div class="col-md-6" id="botonTextoUnir1"></div>
                                            <div class="col-md-6" id="botonTextoUnir2"></div>
                                        </div>
                                        <div class="row unir">
                                            <div class="col-md-6" id="botonTextoUnir3"></div>
                                            <div class="col-md-6" id="botonTextoUnir4"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="unir" class="row" hidden onmouseover="verificarCompletoUnir()">
                            <div class="container-fluid text-left">
                                <div class="row">
                                    <div class="col-md-4">
                                        <button id="reiniciarUnir" class="btn btn-primary degradoMenu" onclick="reiniciarUnir();">
                                            Reiniciar
                                        </button>
                                    </div>
                                    <div class="col-md-8">
                                        <button id="enviarUnir" class="btn btn-primary degradoMenu" disabled="disabled"
                                                onclick="verificarRespuestaUnir()">Enviar Respuesta
                                        </button>
                                    </div>
                                </div>
                                <div class="row unir">
                                    <div class="col-md-4">
                                        <button id="botonImagenAUnir1" onclick="obtenerId(this);">
                                            <img id="imagenAUnir1" src="static/imagenes/imagenVacia.svg" class="img-thumbnail"
                                                 style="border:2px solid black" height="50" width="50">
                                        </button>
                                    </div>
                                    <div class="col-md-8">
                                        <button id="textoAUnir1" class="btn textoUnir" disabled
                                                onclick="obtenerId(this);">
                                            Texto 1
                                        </button>
                                    </div>
                                </div>
                                <div class="row unir">
                                    <div class="col-md-4">
                                        <button id="botonImagenAUnir2" onclick="obtenerId(this);">
                                            <img id="imagenAUnir2" src="static/imagenes/imagenVacia.svg" class="img-thumbnail"
                                                 style="border:2px solid black" height="50" width="50">
                                        </button>
                                    </div>
                                    <div class="col-md-8">
                                        <button id="textoAUnir2" class="btn textoUnir" disabled
                                                onclick="obtenerId(this);">
                                            Texto
                                            2
                                        </button>
                                    </div>
                                </div>
                                <div class="row unir">
                                    <div class="col-md-4">
                                        <button id="botonImagenAUnir3" onclick="obtenerId(this);">
                                            <img id="imagenAUnir3" src="static/imagenes/imagenVacia.svg" class="img-thumbnail"
                                                 style="border:2px solid black" height="50" width="50">
                                        </button>
                                    </div>
                                    <div class="col-md-8">
                                        <button id="textoAUnir3" class="btn textoUnir" disabled
                                                onclick="obtenerId(this);">
                                            Texto 3
                                        </button>
                                    </div>
                                </div>
                                <div class="row unir">
                                    <div class="col-md-4">
                                        <button id="botonImagenAUnir4" onclick="obtenerId(this);">
                                            <img id="imagenAUnir4" src="static/imagenes/imagenVacia.svg" class="img-thumbnail"
                                                 style="border:2px solid black" height="50" width="50">
                                        </button>
                                    </div>
                                    <div class="col-md-8">
                                        <button id="textoAUnir4" class="btn textoUnir" disabled
                                                onclick="obtenerId(this);">
                                            Texto 4
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="barraTiempoUnir" class="row" hidden>
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div class="progress">
                                    <div id="progreso" class="progress-bar progress-bar-striped progress-bar-animated"
                                         role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 100%"></div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div id="memory_boardMulti" hidden>
                        </div>
                        <div id="respuestaUnirVoltear" hidden style="border: solid; border-color: black;">
                            <div class="row">
                                <div class="col-md-5">
                                    <label class="text-dark">ÚLTIMO PAR ENCONTRADO: </label>
                                </div>
                                <div class="col-md-7 text-left">
                                    <img id="ultimoPar" class="disabledbutton" src="../../../static/imagenes/0.png"
                                         height="50px" width="50px" style="background: transparent; margin: 5px">
                                    <label id="ultimoNombre" class="text-dark"></label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../../parciales/footer %>
</div>
</body>
<script src="/static/js/game.js"></script>
</html>