<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>Estadísticas</title>
</head>
<body>
<header>
    <% include ../../parciales/headerProfesor %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ingresoFacilitador">Inicio</a></li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="row h-100">
                <div class="col-12 collapse d-md-flex bg-light h-100" id="sidebar">
                    <ul class="nav flex-column flex-nowrap">
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle collapsed" href="/ingresoFacilitador" data-toggle="collapse" data-target="#submenu1"><i class="fas fa-chalkboard-teacher"></i> Facilitador</a>
                            <div class="collapse show" id="submenu1" aria-expanded="false">
                                <ul class="flex-column pl-5 nav">
                                    <li class="nav-item"><a class="nav-link py-0" href="/ingresoFacilitador"><i class="fas fa-home" ></i> Inicio Facilitador</a></li>
                                    <li class="nav-item"><a class="nav-link py-0" style="color: black" href="/estadisticas"><i class="fas fa-chart-bar"></i> Estadísticas</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  dropdown-toggle collapsed" href="/ingresoParticipante" data-toggle="collapse" data-target="#submenu2"><i class="fas fa-user"></i> Participante</a>
                            <div class="collapse" id="submenu2" aria-expanded="false">
                                <ul class="flex-column pl-5 nav">
                                    <li class="nav-item"><a class="nav-link py-0" href="/ingresoParticipante"><i class="fas fa-home"></i> Inicio Participante</a></li>
                                    <li class="nav-item"><a class="nav-link py-0" href="/ingresoPartida"><i class="fas fa-sign-in-alt"></i> Unirse a Partida</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12" >
                    <h2>Temáticas</h2>
                </div>
            </div>
            <div class="row">
                <%
                for(var i = 0; i < materias.length; i++) {
                    console.log(materias[i]) %>
                <div class="col-md-4">
                    <div class="card" style="margin-top: 10px">
                        <div class="card-header">
                            <h5><%= materias[i].nombre %></h5>
                        </div>
                        <div class="card-body">
                            <a href="/estadisticaParticipante/<%=materias[i].nombre%>" class="btn btn-success"> <i class="fas fa-chart-bar"></i> Por Participante</a>
                            <a href="/estadisticaPregunta/<%=materias[i].nombre%>" class="btn btn-success"> <i class="fas fa-chart-bar"></i> Por Pregunta</a>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>

</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script src="/static/js/profesor.js"></script>
<footer>
    <% include ../../parciales/footer.ejs %>
</footer>

</body>
</html>