<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <% include ../../parciales/head %>
    <title>Imágenes Unir Voltear</title>
</head>
<body>
<div class="opaco">
    <header>
        <% include ../../parciales/headerProfesor %>
    </header>
    <hr>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb opacoCard">
            <li class="breadcrumb-item"><a href="/ingresoFacilitador" class="textoBlanco">INICIO</a></li>
            <li class="breadcrumb-item"><a href="/ingresoFacilitador/" class="textoBlanco">TEMÁTICAS</a></li>
            <li class="breadcrumb-item "><a href="/ingresoFacilitador/preguntasUnirVoltear/<%= materia %>"
                                            class="textoBlanco">IMÁGENES</a></li>
        </ol>
    </nav>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="row h-100">
                    <div class="col-12 collapse d-md-flex h-100 opacoCard" id="sidebar">
                        <ul class="nav flex-column flex-nowrap">
                            <li class="nav-item">
                                <a class="nav-link dropdown-toggle collapsed textoBlanco" href="/ingresoFacilitador"
                                   data-toggle="collapse" data-target="#submenu1"><i
                                            class="fas fa-chalkboard-teacher"></i> FACILITADOR</a>
                                <div class="collapse show" id="submenu1" aria-expanded="false">
                                    <ul class="flex-column pl-5 nav">
                                        <li class="nav-item"><a class="nav-link py-0 btn-primary degradoBoton"
                                                                href="/ingresoFacilitador"><i class="fas fa-home"></i>
                                                INICIO FACILITADOR </a></li>
                                        <li class="nav-item"><a class="nav-link py-0 textoBlanco"
                                                                href="/estadisticas"><i class="fas fa-chart-bar"></i>
                                                ESTADÍSTICAS</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  dropdown-toggle collapsed textoBlanco" href="/ingresoParticipante"
                                   data-toggle="collapse" data-target="#submenu2"><i class="fas fa-user"></i>
                                    PARTICIPANTE</a>
                                <div class="collapse" id="submenu2" aria-expanded="false">
                                    <ul class="flex-column pl-5 nav">
                                        <li class="nav-item"><a class="nav-link py-0 textoBlanco"
                                                                href="/ingresoParticipante"><i class="fas fa-home"></i>
                                                INICIO PARTICIPANTE</a></li>
                                        <li class="nav-item"><a class="nav-link py-0 textoBlanco"
                                                                href="/ingresoPartida"><i
                                                        class="fas fa-sign-in-alt"></i> UNIRSE A PARTIDA</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-9">
                        <h2 class="textoBlanco">INGRESO DE VARIAS IMÁGENES</h2>
                    </div>
                    <div class="col-md-3 text-right">
                        <a href="/ingresoFacilitador/preguntasUnirVoltear/<%= materia %>" id="botonRegresar"
                           class="btn btn-primary degradoBoton"><i class="fas fa-undo-alt"></i> Regresar</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="numeroPreguntas" class="textoBlanco">NÚMERO DE IMÁGENES: </label>

                        <select class="form-control" id="numeroDePreguntas" required
                                onchange="generarDatosPregunta(this)" onkeyup="generarDatosPregunta(this)" oncanplay="generarDatosPregunta(this)">
                            <option>0</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                        </select>
                    </div>
                    <div class="col-md-6"></div>
                    <form action="/agregarVariasUnirVoltear" method="post">
                        <input type="text" name="materia" value="<%= materia %>" hidden>
                        <input type="text" name="numeroPreguntas" id="numeroPreguntas" hidden>
                        <div class="form-row" id="divPreguntas" style="margin-top: 10px; margin-left: 10px ">
                        </div>
                        <div id="divBotonGuardar" class="row form-group">
                            <div class="col-md-2"></div>
                            <div class="col-md-8 text-center">
                                <button type="submit" id="botonGuardarUnirVoltear" class="btn btn-primary degradoBoton "
                                        hidden><i class="fas fa-save"></i> Guardar
                                </button>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../static/js/preguntasUnirVoltear.js"></script>
    <footer>
        <% include ../../parciales/footer %>
    </footer>
</div>
</body>
</html>