<div class="navbar navbar-expand-lg navbar-dark opaco">
    <div class="row">
    <div class="col-md-4"> <a class="navbar-brand" href="/">
            <div class="row" >
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center">
                    <img src="../../static/imagenes/iconoPolhibou1.png"
                         height="84" width="288">
                </div>
                <div class="col-md-2"></div>
            </div>
        </a></div>
    <div class="col-md-4">   <a class="navbar-brand" href="/">
            <div class="row" >
                <div class="col-md-12 text-center">
                    <img src="../../static/imagenes/iconoEPN.png"
                         width="75%" height="75%">
                </div>
            </div>
        </a></div>
    <div class="col-md-4"></div>
</div>

    <a class="navbar-brand" href="/">
        <div class="row" >
            <div class="col-md-12 text-center">
                <img src="../../static/imagenes/iconoEPN.png"
                     width="75%" height="75%">
            </div>
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        </ul>
        <span class="navbar-text ml-2">
                Bienvenido : <%=nombre%>
             </span>
        <br>
        <a class="btn btn-primary degradoMenu" href="/cambiarContrasenia" style="margin-left: 10px">Cambiar Contraseña</a>
        <a class="btn btn-primary degradoMenu" href="/salir" style="margin-left: 10px">Cerrar Sesión</a>
    </div>
</nav>

