<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Creacion de partidas</title>
    <% include ../parciales/head %>

</head>
<body>
<header>
  <% include ../parciales/headerProfesor %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ingresoProfesor">Inicio</a></li>
        <li class="breadcrumb-item"><a href="/ingresoProfesor/">Materias</a></li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <h2>Creación de Partida</h2>
    </div>
        <form action="/lobby" method="post" onmouseover="verificarSeleccion()">
            <div class="form-row" id="centro">
                <input type="text" name="materia" value="<%= materia %>" hidden>
                <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Número de equipos:</label>
                        <div class="col-md-4">
                            <input class="form-control" type="number" id="numeroEquipo" name="numeroEquipos" value="0" min="1" max="4"
                                   onchange="generarDatosEquipo(this)">
                        </div>
                        <input type="hidden" id="rol" name="rol" value="profesor">
                    </div>
                </div>
                <!-- Button trigger modal -->
            <div>
                <button type="submit" class="btn btn-info text-center" id="botonModal" disabled >
                    Generar código partida
                </button>
            </div>
        </form>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="../../static/js/creacionPartida.js"></script>

</body>
</html>