<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Creacion de partidas</title>
    <% include ../parciales/head %>

</head>
<body>
<header>
    <% include ../parciales/headerProfesor %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ingresoProfesor">Inicio</a></li>
        <li class="breadcrumb-item"><a href="/ingresoProfesor/">Materias</a></li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <h2>Creación de Partida</h2>
    </div>
    <form action="/lobby" method="post" onmouseover="verificarSeleccion()">
        <div class="row" id="centro">
            <input type="text" name="materia" value="<%= materia %>" hidden>
            <div class="col-md-3 " style="margin-bottom: 10px">
                <label class="control-label">Número de equipos:</label>
            </div>
            <div class="col-md-3" style="margin-bottom: 10px">
                <input class="form-control" type="number" id="numeroEquipo" name="numeroEquipos" value="0" min="1"
                       max="4"
                       onchange="generarDatosEquipo(this)">
            </div>
            <div class="col-md-6" style="margin-bottom: 10px"></div>
            <input type="hidden" id="rol" name="rol" value="profesor">
        </div>
        <!-- Button trigger modal -->
        <div class="row text-center">
            <div class="col-md-12">
                <button type="submit" class="btn btn-info text-center" id="botonModal" disabled>
                    <i class="fas fa-qrcode"></i> Generar código partida
                </button>
            </div>
        </div>
    </form>
</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="../../static/js/creacionPartida.js"></script>

</body>
</html>