<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>Error</title>
</head>
<body>
<header>
    <% include ../parciales/header %>
</header>
<div class="container">
    <h5>¡Lo siento!</h5>
    <p><%=mensaje%></p>
    <p>Por favor, ingresa <a href="<%=direccion%>">aquí</a></p>
</div>
</body>
</html>