<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>Error</title>
</head>
<body>
<header>
    <% include ../parciales/header %>
</header>
<h5>Error</h5>
</body>
</html>