<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>Error</title>
</head>
<body>
<div class="opaco" style="margin-bottom: 10px">
<div class="container">
    <div class="col-md-12 text-center">
    <h5 class="textoBlanco">¡Lo siento!</h5>
    <p class="textoBlanco"><%=mensaje%></p>
    <p class="textoBlanco">Por favor, ingresa <a href="<%=direccion%>">aquí</a></p>
    </div>
</div>
</div>
</body>
</html>