<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html"/>
    <link rel = "stylesheet" type = "text/css" href = "static/css/estilos.css" >
    <% include ../parciales/head %>

    <title>Title</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<header>
    <% var x = 5; if(x==5){ %>
        <%include ../parciales/header %>
    <% } else { %>
    <%include ../parciales/headerProfesor %>
    <% }  %>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
<div class="jumbotron">
    <h1 class="display-4">BPMN PLAY!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/ingresoPartida" role="button">Ingresar a Partida</a>
    </p>
</div>
</div>
        <div class="col-md-6">
            <h3 class="display-8">Crear Cuenta</h3>
            <form action="/creacionCuenta" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputNombre">Nombre</label>
                        <input type="text" class="form-control" id="inputNombre" name="nombre"  required placeholder="Nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputUsuario">Usuario</label>
                        <input type="text" class="form-control" id="inputUsuario" name="usuario" required placeholder="Usuario">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputContrasenia">Contrase単a</label>
                        <input type="password" class="form-control" id="inputContrasenia" name="contrasenia" required placeholder="Contrase単a">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputContraseniaConfirmada">Confirmar Contrase単a</label>
                        <input type="password" class="form-control" id="inputContraseniaConfirmada" name="contrasenia_confirmada" required placeholder="Confirmar contrase単a">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="rol">Rol</label>
                        <select id="rol" class="form-control" name="rol" required>
                            <option value="estudiante" selected>Estudiante</option>
                            <option value="profesor">Profesor</option>
                        </select>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Crear Cuenta</button>
            </form>

        </div>
    </div>
</div>
</body>
</html>