<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../parciales/head.ejs %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>Inicio</title>
</head>
<body>
<header>
        <% include ../parciales/header %>
</header>
<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-6">
            <div class="jumbotron">
                <h1 class="display-4">POLHIBOU!</h1>
                <p class="lead"></p>
                <hr class="my-4">
                <p></p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/ingresoPartida" role="button"><i
                                class="fas fa-sign-in-alt"></i> Unirse a Partida</a>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="display-8">Crear Cuenta</h3>
            <form action="/creacionCuenta" name="formulario" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputNombre">Nombres y apellidos</label>
                        <input type="text" class="form-control" id="inputNombre" name="nombre" required
                               placeholder="Nombres y apellidos">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputUsuario">Correo electrónico</label>
                        <input type="email" class="form-control" id="inputUsuario" name="usuario" required
                               placeholder="Correo electrónico">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputContrasenia">Contraseña</label>
                        <input type="password" class="form-control" id="inputContrasenia" name="contrasenia" required
                               placeholder="Contraseña">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputContraseniaConfirmada">Confirmar contraseña</label>
                        <input type="password" class="form-control " id="inputContraseniaConfirmada"
                               name="contraseniaConfirmada" required placeholder="Confirmar contraseña" onkeyup="confirmarContrasenia()">
                        <div class="invalid-feedback">Las contraseñas no son iguales.</div>
                    </div>
                </div>
                <div class="form-row text-center">
                    <div class="form-group col-md-4">
                    </div>
                    <div class="form-group col-md-4">
                        <button type="submit" id="crearCuenta" disabled class="btn btn-primary"><i class="fas fa-user-plus"></i> Crear Cuenta
                        </button>
                    </div>
                    <div class="form-group col-md-4">
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<script>
    function confirmarContrasenia() {
        if(formulario.contrasenia.value == formulario.contraseniaConfirmada.value){
            document.getElementById("crearCuenta").removeAttribute("disabled");
            document.getElementById("inputContrasenia").classList.remove("is-invalid");
            document.getElementById("inputContrasenia").classList.add("is-valid");
            document.getElementById("inputContraseniaConfirmada").classList.remove("is-invalid");
            document.getElementById("inputContraseniaConfirmada").classList.add("is-valid");
        }else{
            document.getElementById("crearCuenta").setAttribute("disabled","");
            document.getElementById("inputContraseniaConfirmada").classList.add("is-invalid");
            document.getElementById("inputContrasenia").classList.add("is-invalid");

        }

    }

</script>
</body>
</html>