<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <link rel="stylesheet" type="text/css" href="static/css/estilos.css">
    <title>Estadísticas</title>
</head>
<body>
<header>
    <% include ../parciales/headerProfesor %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ingresoFacilitador">Inicio</a></li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/ingresoFacilitador">
                        <i class="far fa-list-alt"></i> Modo Facilitador</a>
                    <a href="/ingresoParticipante"
                       class="dropdown-item">
                        <i class="far fa-list-alt"></i> Modo Participante</a>
                    <a href="/estadisticas"
                       class="dropdown-item active">
                        <i class="fas fa-chart-bar"></i> Estadísticas</a>
                </div>
            </div>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Regular link</a>
                <a class="dropdown-item active" href="#">Active link</a>
                <a class="dropdown-item" href="#">Another link</a>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <h2>Materias</h2>
            </div>
            <div class="row">
                <%
                for(var i = 0; i < materias.length; i++) {
                    console.log(materias[i]) %>
                <div class="col-md-4">
                    <div class="card" style="margin-top: 10px">
                        <div class="card-header">
                            <h5><%= materias[i].nombre %></h5>
                        </div>
                        <div class="card-body">
                            <a href="#" class="btn btn-success"> <i class="fas fa-chart-bar"></i> Por Estudiante</a>
                            <a href="#" class="btn btn-success"> <i class="fas fa-chart-bar"></i> Por Pregunta</a>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>

</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script src="/static/js/profesor.js"></script>
<footer>
    <% include ../parciales/footer.ejs %>
</footer>

</body>
</html>