<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html"/>
    <link rel="stylesheet" type="text/css" href="static/css/estilos.css">
    <% include ../parciales/head %>

    <title>Title</title>
    <script src="/socket.io/socket.io.js"></script>

</head>
<body>
<header>
    <% include ../parciales/headerProfesor %>
</header>
<div class="container">
    <div class="row">
        <h2>Materias</h2>
    </div>
        <div class="row">
    <div class="card-columns">

        <%
            console.log("hola1: "+ nombre);
        for(var i = 0; i<materias.length; i++) {%>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <%=materias[i]%>
                </h5>
                <a href="/preguntasOpcionMultiple/<%=materias[i]%>" class="btn btn-primary" style="margin-bottom: 10px" id=<%=materias[i]%>>Preguntas Opción Multiple</a>
                <a href= "/preguntasUnirVoltear/<%=materias[i]%>" class="btn btn-primary" style="margin-bottom: 10px">Preguntas Unir Voltear</a>
                <a href="#" class="btn btn-primary" style="margin-bottom: 10px">Partidas</a>
                <br>
                <a href="#" class="btn btn-success">Estadísticas</a>
            </div>
        </div>
        <%  }%>
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <form action="/ingresoMateria" method="post">
                <h5 class="card-title">Agregar Materia</h5>
                <input type="text" class="form-control"  placeholder="Nombre de la materia" name="nombreMateria" style="margin-bottom: 10px">
                <input type="submit" class="btn btn-primary" style="margin-bottom: 10px" value="Agregar Materia">
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
<script src="/static/js/profesor.js"></script>

</body>
</html>