<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <link rel="stylesheet" type="text/css" href="static/css/estilos.css">
    <title>Inicio Administrador</title>
</head>
<body>
<header>
    <% include ../parciales/headerProfesor %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ingresoAdministrador">Inicio</a></li>
    </ol>
</nav>
<% console.log(usuarios)%>

<footer>
    <% include ../parciales/footer.ejs %>
</footer>
</body>
</html>