<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html"/>
    <link rel="stylesheet" type="text/css" href="static/css/estilos.css">
    <% include ../parciales/head %>

    <title>Title</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<header>
    <% include ../parciales/headerProfesor %>
</header>
<div class="container">
    <div class="row">
        <h2>Materias</h2>
    </div>
        <div class="row">
    <div class="card-columns">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">BPMN</h5>
                <a href="#" class="btn btn-primary" style="margin-bottom: 10px">Preguntas Opción Multiple</a>
                <a href="#" class="btn btn-primary">Preguntas Unir Voltear</a>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
</body>
</html>