<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <link rel="stylesheet" type="text/css" href="static/css/estilos.css">
    <title>Title</title>
</head>
<body>
<header>
    <% include ../parciales/headerEstudiante %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ingresoParticipante">Inicio</a></li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2>Materias</h2>
        </div>

    </div>
    <div class="row">
        <div class="card-columns">
            <%
            for(var i = 0; i < materias.length; i++) {
                console.log(materias[i])%>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-9">
                            <h5><%= materias[i].nombre %></h5>
                        </div>
                        <div class="col-md-3">
                                <button class="btn btn-default disabledbutton" id="boton<%=materias[i].nombre%>"><i class="fas fa-unlock"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-success"> <i class="fas fa-chart-bar"></i> Ir a desafíos</a>
                    <a href="#" class="btn btn-success"> <i class="fas fa-chart-bar"></i> Estadísticas</a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<!--<script src="/static/js/estudiante.js"></script>-->
<footer>
    <% include ../parciales/footer.ejs %>
</footer>
</body>
</html>