<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>Nueva Contraseña</title>
</head>
<body>
<header>
    <% include ../parciales/headerProfesor %>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-md-offset-3 opaco">
            <div class="panel panel-login">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3 class="textoBlanco"> CAMBIO DE CONTRASEÑA </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">

                        <form id="login-form" name="formulario" action="/cambiarContrasenia" method="post" role="form"
                              style="display: block;">
                            <input type="text" name="usuario" hidden value="<%=usuario%>">
                            <input type="text" name="sesionIniciada" hidden value="<%=sesionIniciada%>">
                           <% if(sesionIniciada == 1)
                            {%>
                            <label class="textoBlanco">Ingrese su contraseña actual</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                                    </div>
                                    <%if(contraseniaAnterior== 1){%>
                                    <input type="password" name="contraseniaAnterior" id="contraseniaAnterior" tabindex="1"
                                           class="form-control is-invalid" required placeholder="Contraseña actual" onchange="verificarIngreso(this)">
                                    <div class="invalid-feedback">La contraseña anterior es incorrecta.</div>
                                    <%} else {%>
                                        <input type="password" name="contraseniaAnterior" id="contraseniaAnterior" tabindex="1"
                                               class="form-control" required placeholder="Contraseña actual" onchange="verificarIngreso(this)">
                                    <%}%>
                                </div>
                            <%}%>
                            <label class="textoBlanco">Ingrese su nueva contraseña</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-key"></i></div>
                                </div>
                                <input type="password" name="nuevaContrasenia" id="nuevaContrasenia" tabindex="1"
                                       class="form-control" required placeholder="Nueva contraseña" onchange="verificarIngreso(this)">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-key"></i></div>
                                </div>
                                <input type="password" name="nuevaContraseniaConfirmada" id="nuevaContraseniaConfirmada"
                                       tabindex="2" class="form-control" required
                                       placeholder="Confirmar nueva contraseña" onkeyup="confirmarContrasenia()" onchange="verificarIngreso(this)">
                                <div class="invalid-feedback">Las contraseñas no son iguales.</div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6 text-center">
                                        <button type="submit" name="botonCambiarContrasenia" id="botonCambiarContrasenia" tabindex="4"
                                                class="btn btn-primary degradoBoton"><i class="fas fa-sign-in-alt"></i> Cambiar
                                            contraseña
                                        </button>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<script>
    function confirmarContrasenia() {
        if(formulario.nuevaContrasenia.value == formulario.nuevaContraseniaConfirmada.value){
            document.getElementById("botonCambiarContrasenia").removeAttribute("disabled");
            document.getElementById("nuevaContrasenia").classList.remove("is-invalid");
            document.getElementById("nuevaContrasenia").classList.add("is-valid");
            document.getElementById("nuevaContraseniaConfirmada").classList.remove("is-invalid");
            document.getElementById("nuevaContraseniaConfirmada").classList.add("is-valid");
        }
        else {
            document.getElementById("botonCambiarContrasenia").setAttribute("disabled","");
            document.getElementById("nuevaContrasenia").classList.add("is-invalid");
            document.getElementById("nuevaContraseniaConfirmada").classList.add("is-invalid");
        }
    }
    function verificarIngreso(valor) {
        if (document.getElementById(valor.id).value.trim().length < 1) {
            alert("El texto ingresado está en blanco");
            document.getElementById(valor.id).value = "";
        }
    }
</script>

</body>
</html>