<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <% include ../parciales/head %>
    <title>Preguntas de Opción Múltiple</title>
</head>
<body>
<header>
    <% include ../parciales/headerProfesor %>
</header>
<h1>Preguntas de Opción Múltiple</h1>

<div class="container">
    <form action="/preguntasOpcionMultiple" method="post" onmouseover="verificarBotonGuardar()">
        <input type="text" name="materia" value="<%=materia%>" hidden>
        <div class="form-group">
            <label class="control-label col-md-2">Enunciado:</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="enunciado" placeholder="Ingrese el enunciado de la pregunta"
                       name="enunciado">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Cargar imagen (opcional):</label>
            <div class="col-md-6">
                <input type="file" class="form-control" id="botonArchivoEnunciado" value="uploadEnunciado"
                       accept="image/*" onchange="mostrarVistaPreviaImagen(event, 'imagenCargadaEnunciado')">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Imagen:</label>
            <div class="col-md-6">
                <img id="imagenCargadaEnunciado" width="50" height="50"/>
            </div>
        </div>
        <div class="form-group">
                <label class="control-label col-md-2">Escoja el tipo de respuesta:</label>
                <div class="col-md-6">
                    <button type="button" id="soloTexto" onclick="mostrarRespuestas(1)">Solo texto</button>
                    <button type="button" id="soloImagenes" onclick="mostrarRespuestas(2)">Solo imagenes</button>
                </div>
        </div>
        <div id="divRespuestasTexto" hidden>
            <div class="form-group">
                <label class="control-label col-md-2">Respuesta 1:</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="res1" placeholder="Ingrese la respuesta 1" name="res1">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Respuesta 2:</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="res2" placeholder="Ingrese la respuesta 2" name="res2">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Respuesta 3:</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="res3" placeholder="Ingrese la respuesta 3" name="res3">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Respuesta 4:</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="res4" placeholder="Ingrese la respuesta 4" name="res4">
                </div>
            </div>
        </div>
        <div id="divRespuestasImagenes" hidden>
            <div class="form-group">
                <label class="control-label col-md-2">Respuesta 1:</label>
                <div class="col-md-6">
                    <input type="file" class="form-control" id="botonArchivoRes1" value="uploadRes1" accept="image/*"
                           onchange="mostrarVistaPreviaImagen(event, 'imagenCargadaRespuesta1')">
                </div>
                <div class="col-md-4">
                    <img id="imagenCargadaRespuesta1" width="50" height="50"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Respuesta 2:</label>
                <div class="col-md-6">
                    <input type="file" class="form-control" id="botonArchivoRes2" value="uploadRes2" accept="image/*"
                           onchange="mostrarVistaPreviaImagen(event, 'imagenCargadaRespuesta2')">
                </div>
                <div class="col-md-4">
                    <img id="imagenCargadaRespuesta2" width="50" height="50"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Respuesta 3:</label>
                <div class="col-md-6">
                    <input type="file" class="form-control" id="botonArchivoRes3" value="uploadRes3" accept="image/*"
                           onchange="mostrarVistaPreviaImagen(event, 'imagenCargadaRespuesta3')">
                </div>
                <div class="col-md-4">
                    <img id="imagenCargadaRespuesta3" width="50" height="50"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Respuesta 4:</label>
                <div class="col-md-6">
                    <input type="file" class="form-control" id="botonArchivoRes4" value="uploadRes4" accept="image/*"
                           onchange="mostrarVistaPreviaImagen(event, 'imagenCargadaRespuesta4')">
                </div>
                <div class="col-md-4">
                    <img id="imagenCargadaRespuesta4" width="50" height="50"/>
                </div>
            </div>

        </div>
        <div id="divRespuestas" hidden>
        <div class="form-group">
            <label class="control-label col-md-2">Respuesta correcta:</label>
            <div class="col-md-6">
                <select id="resCorrecta" name="respuestaCorrecta" class="form-control">
                    <option value="res1">Respuesta 1</option>
                    <option value="res2">Respuesta 2</option>
                    <option value="res3">Respuesta 3</option>
                    <option value="res4">Respuesta 4</option>
                </select>
            </div>
        </div>
        </div>
        <div id ="divBotonGuardar" class="form-group" hidden >
            <div class="col-sm-offset-2 col-sm-10">
                <button  type="submit" id="botonGuardar"  class="btn btn-default" disabled>Guardar</button>
            </div>
        </div>
    </form>

</div>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="/static/js/preguntasOpcionMultiple.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase-storage.js"></script>
</body>
</html>