<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <% include ../parciales/head %>
    <title>Preguntas de Opción Múltiple</title>
</head>
<body>
<header>
    <% include ../parciales/headerProfesor %>
</header>

<div class="container">
    <div class="row">
        <h2>Ingreso de Preguntas Unir Voltear </h2>
    </div>
    <div>
        <label>Número de preguntas: </label>
        <input class="form-control" type="number" id="numeroEquipo" value="0" min="2" max="50" required onchange="generarDatosPregunta(this)">
    </div>
    <form action="/agregarVariasUnirVoltear" method="post" >
        <div class="form-row" id="divPreguntas">
            <input type="text" name="materia" value="<%= materia %>" hidden>
        </div>
        <div id ="divBotonGuardar" class="form-group" >
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" id="botonGuardarUnirVoltear"  class="btn btn-default">Guardar</button>
            </div>
        </div>
    </form>



</div>
<script type="text/javascript" src="../../static/js/preguntasUnirVoltear.js"></script>
</body>


</html>