<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html"/>
    <% include ../parciales/head %>
    <link rel="stylesheet" type="text/css" href="static/css/estilos.css">
    <title>Title</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<header>
    <% include ../parciales/header %>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <canvas id="game" width="540" height="480"></canvas>
        </div>
        <div class="col-md-2">
            <div class="container-fluid">
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Jugador</th>
                        <th>Nombre</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="tablajug1" style="visibility:hidden">
                        <td id="columna1"></td>
                        <td><label id="nombreEquipo1">Equipo 1</label></td>
                    </tr>
                    <tr id="tablajug2" style="visibility: hidden">
                        <td id="columna2"></td>
                        <td><label id="nombreEquipo2">Equipo 2</label></td>
                    </tr>
                    <tr id="tablajug3" style="visibility:hidden">
                        <td id="columna3"></td>
                        <td><label id="nombreEquipo3">Equipo 3</label></td>
                    </tr>
                    <tr id="tablajug4" style="visibility:hidden">
                        <td id="columna4"></td>
                        <td><label id="nombreEquipo4">Equipo 4</label></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="radio" style="visibility: hidden" id="radio-uno" name="select-face"/>
                    <input type="radio" style="visibility: hidden" id="radio-dos" name="select-face"/>
                    <input type="radio" style="visibility: hidden" id="radio-tres" name="select-face"/>
                    <input type="radio" style="visibility: hidden" id="radio-top" name="select-face"/>
                    <input type="radio" style="visibility: hidden" id="radio-bottom" name="select-face"/>
                    <input type="radio" style="visibility: hidden" id="radio-back" name="select-face"/>
                    <div class="space3d" id="space3d">
                        <div class="_3dbox" id="_3dbox">
                            <div class="_3dface _3dface--uno"></div>
                            <div class="_3dface _3dface--top"></div>
                            <div class="_3dface _3dface--bottom"></div>
                            <div class="_3dface _3dface--dos"></div>
                            <div class="_3dface _3dface--tres"></div>
                            <div class="_3dface _3dface--back"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="radio" style="visibility: hidden" id="radio-uno-2" name="select-face-2"/>
                    <input type="radio" style="visibility: hidden" id="radio-dos-2" name="select-face-2"/>
                    <input type="radio" style="visibility: hidden" id="radio-tres-2" name="select-face-2"/>
                    <input type="radio" style="visibility: hidden" id="radio-top-2" name="select-face-2"/>
                    <input type="radio" style="visibility: hidden" id="radio-bottom-2" name="select-face-2"/>
                    <input type="radio" style="visibility: hidden" id="radio-back-2" name="select-face-2"/>
                    <div class="space3d-2" id="space3d-2">
                        <div class="_3dbox-2" id="_3dbox-2">
                            <div class="_3dface-2 _3dface--uno-2"></div>
                            <div class="_3dface-2 _3dface--top-2"></div>
                            <div class="_3dface-2 _3dface--bottom-2"></div>
                            <div class="_3dface-2 _3dface--dos-2"></div>
                            <div class="_3dface-2 _3dface--tres-2"></div>
                            <div class="_3dface-2 _3dface--back-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col align-self-start">
                    <button class="btn btn-info unir" id="botonLanzar" onclick="lanzarDado()"> Lanzar Dado</button>
                </div>
                <div id="snackbar">Puedes moverte</div>
                <div id="snackbarIn">No puedes moverte</div>
                <div id="mensajeTurno">
                    <p>Es turno del equipo:<label id="nombreEquipoActual"></label></p>
                </div>
                <div id="mensajeUnir" hidden>
                </div>
                <div id="mensajeVoltear" hidden>
                    <p>Genial!!... <br> Has encontrado un par de:<br> <label id="nombreParEncontrado"></label></p>
                </div>
                <div id="mensajeOpcionMultiple" hidden></div>
            </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="flip3D">
                    <div id="tarjeta" class="front disabledbutton" onclick="darLaVuelta()"></div>
                    <div id="desafios" class="back container-fluid col-md-12" hidden>
                        <h1 id="tipoJuego">Tipo de Juego</h1>
                        <div id="opcionMultiple" class="row" hidden>
                            <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-9">
                                    <h4><p id="enunciado"></p></h4>
                                </div>
                                <div class="col-md-3">
                                    <img id="imagenEnunciado" src="static/imagenes/vacio.png" class="img-rounded"
                                         height="50"
                                         width="50">
                                </div>
                            </div>
                            <div class="row" id="divRespuestasOpcionMultiple" hidden>
                                <div class="container-fluid">
                                <div class="row unir" >
                                    <div class="col-md-6" id="puesto1"></div>
                                    <div class="col-md-6" id="puesto2"></div>
                                </div>
                                <div class="row unir" >
                                    <div class="col-md-6" id="puesto3"></div>
                                    <div class="col-md-6" id="puesto4"></div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div id="unir" class="row" hidden onmouseover="verificarCompletoUnir()">
                            <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <button id="reiniciarUnir" class="btn btn-info" onclick="reiniciarUnir();">Reiniciar
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button id="enviarUnir" class="btn btn-success" disabled="disabled"
                                            onclick="verificarRespuestaUnir()">Enviar Respuesta
                                    </button>
                                </div>
                            </div>
                            <div class="row unir" >
                                <div class="col-md-5">
                                    <label>1)</label>
                                    <button id="botonImagenAUnir1" onclick="obtenerId(this);">
                                        <img id="imagenAUnir1" src="static/imagenes/vacio.png" class="img-thumbnail"
                                             style="border:2px solid black" height="50" width="50">
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <label id="textoCorrecto1"></label>
                                </div>
                                <div class="col-md-5">
                                    <label>A)</label>
                                    <button id="textoAUnir1" class="btn" disabled onclick="obtenerId(this);">Texto 1
                                    </button>
                                </div>
                            </div>
                            <div class="row unir">
                                <div class="col-md-5">
                                    <label>2)</label>
                                    <button id="botonImagenAUnir2" onclick="obtenerId(this);">
                                        <img id="imagenAUnir2" src="static/imagenes/vacio.png" class="img-thumbnail"
                                             style="border:2px solid black" height="50" width="50">
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <label id="textoCorrecto2"></label>
                                </div>
                                <div class="col-md-5">
                                    <label>B)</label>
                                    <button id="textoAUnir2" class="btn " disabled onclick="obtenerId(this);">Texto 2
                                    </button>
                                </div>
                            </div>
                            <div class="row unir">
                                <div class="col-md-5">
                                    <label>3)</label>
                                    <button id="botonImagenAUnir3" onclick="obtenerId(this);">
                                        <img id="imagenAUnir3" src="static/imagenes/vacio.png" class="img-thumbnail"
                                             style="border:2px solid black" height="50" width="50">
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <label id="textoCorrecto3"></label>
                                </div>
                                <div class="col-md-5">
                                    <label>C)</label>
                                    <button id="textoAUnir3" class="btn" disabled onclick="obtenerId(this);">Texto 3
                                    </button>
                                </div>
                            </div>
                            <div class="row unir">
                                <div class="col-md-5">
                                    <label>4)</label>
                                    <button id="botonImagenAUnir4" onclick="obtenerId(this);">
                                        <img id="imagenAUnir4" src="static/imagenes/vacio.png" class="img-thumbnail"
                                             style="border:2px solid black" height="50" width="50">
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <label id="textoCorrecto4"></label>
                                </div>
                                <div class="col-md-5">
                                    <label>D)</label>
                                    <button id="textoAUnir4" class="btn" disabled onclick="obtenerId(this);">Texto 4
                                    </button>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div id="memory_board" hidden></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase-firestore.js"></script>
<script src="/static/js/game.js"></script>

</html>